<h1>My Orders History</h1>
<div class="justify-content-start">
  <% current_user.orders.each do |order| %>
    <div class="container w-75 m-5">
      <div class="card-product">
      <%= cl_image_tag order.painting.photo.key, height: "200px" %>
      <div class="card-product-infos">
        <h2><%= order.painting.title %></h2>
        <p><%= order.painting.price %></p>
      </div>
    </div>
    </div>
  <% end %>
</div>
