<p>My Orders</p>
<% current_user.orders.each do |order| %>
  <%= order.painting.title %>
  <%= order.painting.price %>
<% end %>

<h1>Order history</h1>
<div class="container">
  <div class="card-product">
  <img src="https://media.timeout.com/images/101616011/750/422/image.jpg" />
  <div class="card-product-infos">
    <h2>Painting Title</h2>
    <p>Painting price: <strong>$</strong>Date</p>
  </div>
</div>
</div>
