  .footer {
    background-color: #DFD0B8;;
    padding: 20px 0;
    text-align: center;
  }

  .footer-logo-img {
    height: 50px;
  }

  .footer-links {
    margin-top: 10px;
    color: #DFD0B8;
    font-size: 24px;
    margin: 0 10px;
    
    a {
      color: black;
    }
  }
